/* BlogDetail.css */

.blog-detail-nav {
  background-color: #2BA5D1;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky !important; /* Add !important to ensure sticky position */
  top: 0; /* Add top: 0 to ensure it sticks to the top */
}

#icon {
  width: 150px;
  height: 30px;
}

.blog-detail-nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s; /* Transition for smooth effect */
}

.blog-detail-nav a:hover {
  color: #333; /* Change text color on hover */
}

.container-blogdetail {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title-blog {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

.blogdata-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.blog-content {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #555;
}

.loading {
  font-size: 1rem;
  color: #2BA5D1;
}

.container-forget {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-background-shodow {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}
