/* Home.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.navbar-Home {
  background: #2BA5D1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 10px;
  position: sticky !important;
}

.navbar-Home ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-Home ul li {
  display: inline;
  margin-right: 20px;
}

.navbar-Home a {
  color: white;
  text-decoration: none;
  outline: none;
}

#icon {
  width: 200px;
  height: 40px;
}

.content {
  text-align: center;
  color: #333;
}

.blog-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.blog-item {
  width: 47%;
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  height: 100%;
  box-sizing: border-box;
}

.blog-item h2 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.blog-item p {
  color: #555;
  font-size: 14px;
}

.blog-item img {
  margin-right: 5px;
}

.like{
  width: 18px;
  margin-left:3% ;
}
.comment {
  width: 18px;
  margin-right: 1%;
  margin-left: 95%;
}

.blog-link {
  text-decoration: none;
  color: inherit;
}
.blog-image{
  width: 100%;
  height:280px;
}



.comment-section {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.comment-section textarea {
  width: 100%;
  margin-bottom: 10px;
}

.comment-section button {
  background-color: #2BA5D1;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

/* Add this style for the like button click effect */
.like:active {
  transform: scale(2.2);
  transition: transform 0.2s ease-in-out;
}

/* Add this style for the comment button click effect */
.comment:active {
  transform: scale(2.2);
  transition: transform 0.2s ease-in-out;
}
