/* OtpVerify.css */

.navbar-Otp-Verify {
  background-color: #2BA5D1;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

#icon {
  width: 200px;
  height: 40px;
}

.navbar-Otp-Verify a {
  color: white;
  text-decoration: none;
  transition: border-color 0.3s, color 0.3s; /* Transition for smooth effect */
}

.navbar-Otp-Verify a:hover {
  color: black;
  border-color: #2BA5D1; /* Change border color on hover */
}
.Otp-Verify {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #2BA5D1;
  font-size: 24px;
}

label {
  padding-right:220px;
  font-size: 16px;
  color: #333;
  padding-top: 40px;
}

#otp {
  width: 200px;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 200px;
}

.error-message {
  color: #ff0000;
  margin-top: 10px;
}

button {
  margin-top: 20px;
  padding:12px 14px;
  background-color: #2BA5D1;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width:100px;
}


.container-Otp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container-Otp {
  padding-bottom: 50px;
  width: 500px;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  justify-content: center;
  margin-bottom: 50px;
}