/* Remove underline from anchor tags */
.similarblog a {
    text-decoration: none;
}

/* Styling for the title of similar blogs */
.similar-blog-title {
    color: black;
}

/* Styling for the content of similar blogs */
.similar-blog-content {
    color: black;
    line-height: 1.4;
    max-height: 8.5em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

/* Image styling for similar blogs */
.similarblog-image {
    width: 150px;
    height: 150px;
    margin-left: 5px;
}

/* Flex display for the blog body */
.blog-body {
    display: flex;
    align-items: center;
}

/* Styling for the icons container */
.similar-blog-icons {
    display: flex;
    align-items: center;
}

/* Container for scrolling */
.scroll {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    overflow-y: hidden;
}

.scroll:hover {
    overflow-y: scroll;
}

/* Media query for small screens */
@media only screen and (max-width: 600px) {

    /* Adjust styles for small screens */
    .scroll {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        max-width: 100%;
        max-height: 100%;
        overflow-x: hidden;
    }

    /* Horizontal scrolling for similar blogs */
    .scroll:hover {
        overflow-x: scroll;
    }
    .similarblog-image {
        max-width: 30%;
        margin-left: 5px;
    }

    /* Adjust width for individual similar blog items */
    .similar-blogs {
        display: flex;
        flex: 0 0 100%;
    }
}