/* Home.css */

.home {
  background-color: white;
}

.navbar {
  background-color: #0893f7 !important;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

#login {
  background-color: black;
  border-radius: 230px;
  color: white;
  border: 3px solid black;
  padding: 3px 10px;
  margin-left: auto; /* Move the login button to the right */
}

#login:hover {
  border: 3px solid greenyellow;
}

#app {
  font-size: 20px;
}

#icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
