/* Write.css */
.content form {
    max-width: 600px;
    margin: 0 auto;
    background-color: white; /* Set background color to white */
    padding: 20px; /* Add padding for better visual appearance */
    border: 1px solid #ddd; /* Add border */
    border-radius: 8px; /* Add border-radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for a subtle effect */
  }
  
  .content label {
    display: block;
    margin-bottom: 8px;
    font-size: 17px;
    font-weight: bold;
  }
  
  .content input,
  .content textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  .content textarea {
    height: 100px;
  }
  
  .content button {
    background-color: #2BA5D1;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .content button:hover {
    background-color: #1C8099;
  }
  
  /* Additional styling for submitted data */
  .content h2 {
    font-size: 26px;
    font-weight: bold;
  }
  
  .content img {
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
  
  .content div {
    border: 1px solid #ddd;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  /* Styling for recent blogs */
  .content h2 + ul {
    list-style: none;
    padding: 0;
  }
  
  .content h3 {
    font-size: 26px;
    font-weight: bold;
  }
  
  .content ul li {
    margin-bottom: 20px;
  }
  
  .content ul img {
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
  